body{
    height: 100vh;
    margin: 0;
    background-color: rgb(58, 58, 58);
}

.box{
    height: 100px;
    width: 100px;
    background-color: antiquewhite;
    gap: 10px;

}

span{
    padding: 20px;
}
.container{
    margin-top: 20px;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: fit-content;
    border-style: solid;
    border-width: 10px;

}

.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}

.true{
    
}
.winner{
    background-color: green;
}

.result{
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 20px;
    color: rgb(64, 255, 0);
}


#button{
    margin-top: 30px;
}


.play-again{
    margin-top: 50px;
    height: 60px;
    width: 150px;
    border-radius: 40px;
    font-size: 25px;
    background-color: rgb(3, 159, 0);
}
.play-again:hover{
    transition-duration: 150ms;
    background-color: rgb(9, 223, 13);
}
